.c-red{ color: #f00; }
.text-b{ color: #43a047}
.text-w{ color: #fff }

#logo-container img{ margin-bottom: -10px !important;}
#logo-container{ position: relative }
.uea{ max-width: 32px; bottom: 15px; position: absolute }

#user{ margin-top: 15px; margin-left: 20px}

/*.card-content{ cursor: pointer;}*/
.pleft10{ padding-left: 10px }
.p10{ padding: 10px }
.m16{ margin: 16px 0}
.capitalize{ text-transform: capitalize}

.select-dropdown li.disabled, .select-dropdown li.disabled>span, .select-dropdown li.optgroup{
	color: rgba(0,0,0,0.3);
	background-color: transparent
}

.container .chip{ color: #f5f5f5; background: rgba(228, 228, 228, 0)}

#perfil header{ text-align: center; padding: 2em }
#perfil header nav ul.hide-on-med-and-down li{ float: none; display: inline-flex}
#perfil header img.circle{ max-width: 160px }
#perfil header h1{ color: #fff; font-size: 15px;}
#perfil #content{ padding: 2em }
#perfil .form-control, #perfil .collection-item{ text-transform: capitalize }
#perfil .responsive-img .fa{ font-size: 72px}
.select-box{ min-height: 60px }
.select-box li:not(:first-child), .select-box select option:not(:first-child){ text-transform: uppercase; }

#work{ padding-top: 0}
#work .header h1{ font-size: 3.2rem }
#work .badge{ position: static; margin-right: 10px; padding: 3px 10px}
#work .card-title{ text-transform: capitalize; }
#work .card-reveal .card-title{ font-size: 20px;}
#work .card .obs{ font-size: 13px; }
#work .card button.fa{ background: none; border: none; }
#work .fa-star{ color: #f00;}
#work .fa-star-o{ color: #BBB6B6 }
#work .card-reveal .submit-rating{  }
#work .header{ text-transform: capitalize;}
a .resume{ color: #000 !important}
.card-content .rate{ color: #000 !important  }
.average button{ cursor: inherit !important}


#work .panel-body{ min-height: 500px }

#obra-cadastrar .header{ color: #fff }
#obra-cadastrar .select-box, #obra-cadastrar .select-box label{ margin-left: 3rem}

.collection-item{ cursor: pointer }
.collection-item .fa-minus-circle{ font-size: 23px }

.fixing{ overflow: hidden }

.loading .hide-while-loading{ display: none !important}
.loading #loading{
	display: block; 
	position: absolute; top: 50%; left: 50%; margin: -30px 0 0 -121px; 
	animation: loading 2s linear infinite alternate;
}
.loading{ background: #43a047 !important}

footer.page-footer {
    padding-top: 10px
}

@keyframes loading {
    from {opacity: 1; 
    	-webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
        }
    to {
    	opacity: 0.2;
    	-webkit-transform: scale(0.8);
    	   -moz-transform: scale(0.8);
    	    -ms-transform: scale(0.8);
    	     -o-transform: scale(0.8);
    	        transform: scale(0.8);
    }
}