<!--Work-->
<div class="section scrollspy" id="work">
    <div class="panel-body">
        <header class="fixing header white z-depth-1">
            <div class="container">
                <h1 class="text_b"><i class="material-icons fa fa-book"></i> TCCs, Artigos, Teses e Dissertações</h1>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col s12 14" ng-class="getGrid($index)" ng-repeat="work in works track by $index">
                    <div class="card">
                        <!-- <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="site/img/project1.jpg">
                        </div> -->
                        <div class="card-content activator" ng-click="view(work.id)">
                            <span class="card-title activator grey-text text-darken-4">{{work.titulo}} <!-- <i class="mdi-navigation-more-vert right"></i> --></span>
                            <p>{{ work.resumo | limitTo: 150 }} {{ work.resumo.length > 150 ? '...' : ''}}</p>
                            <p class="activator"><a href="">{{work.autor}}</a></p>
                            <p class="activator">{{work.time | date:'yyyy'}}</p>
                            <p class="activator"><span class="badge amber darken-4 white-text activator">{{work.area}}</span></p>
                            <p class="activator">
                                <button class="fa activator" ng-class="(i <= work.avaliacao)? 'fa-star' : 'fa-star-o'" ng-repeat="i in [1,2,3,4,5]"></button>
                            </p>
                            <a class="btn-floating btn-large waves-effect waves-light" ng-class="{ red : (work.file), grey : (!work.file) }" title="{{ (!work.file)? 'Não disponível' : 'Baixar' }}" ng-click="open(work.file)"><i class="material-icons fa fa-download"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red" title="Meus acervos">
      <i class="large material-icons fa fa-folder-open"></i>
    </a>
    <ul>
      <li><a class="btn-floating green" title="Minha lista de acervos" href="#/obra/listar"><i class="material-icons fa fa-navicon"></i></a></li>
      <li><a class="btn-floating blue darken-1" title="Cadastrar uma nova obra" href="#/obra/cadastrar"><i class="material-icons fa fa-plus"></i></a></li>
    </ul>
  </div>
</div>