<!--Work-->
<div class="section scrollspy" id="work">
    <div class="panel-body">
        <header class="fixing header green z-depth-1">
            <div class="container">
                <h1 class="text-w"><i class="material-icons fa fa-navicon"></i> Meu acervo</h1>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col s12 14" ng-repeat="work in works track by $index">
                    <div class="card">
                        <div class="card-content activator" ng-click="view(work.id)">
                            <span class="card-title activator grey-text text-darken-4">{{work.titulo}} <!-- <i class="mdi-navigation-more-vert right"></i> --></span>
                            <p>{{ work.resumo | limitTo: 150 }} {{ work.resumo.length > 150 ? '...' : ''}}</p>
                            <p class="activator"><a href="">{{work.autor}}</a></p>
                            <p class="activator">{{work.time | date:'yyyy'}}</p>
                            <p class="activator"><span class="badge amber darken-4 white-text activator">{{work.area}}</span></p>
                            <a class="btn-floating btn-large waves-effect waves-light" ng-class="{ red : (work.file), grey : (!work.file) }" title="{{ (!work.file)? 'Não disponível' : 'Baixar' }}" ng-click="open(work.file)"><i class="material-icons fa fa-download"></i></a>
                            <a class="btn-floating btn-large waves-effect waves-light green" title="Editar"><i class="material-icons fa fa-edit"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>