<!--Work-->
<div class="section scrollspy" id="work">
    <div class="panel-body">
        <header class="fixing header green z-depth-1">
            <div class="container">
                <h1 class="text-w"><i class="material-icons fa fa-navicon"></i> Meu acervo</h1>
            </div>
        </header>
        <div class="container" ng-controller="WorkToolsCtrl">
            <div class="row">
                 <div class="col s12 14" ng-show="!works || works.length <= 0">
                     <div class="card p10">
                        <h5 class="text-b"><i class="fa fa-folder-open-o"></i> Nenhuma obra cadastrada</h5>
                     </div>
                 </div>
                <div class="col s12 14" ng-repeat="work in works | orderBy : '-media' track by $index">
                    <div class="card">
                        <div class="card-content activator" ng-click="view(work.id)">
                            <span class="card-title activator grey-text text-darken-4">{{work.titulo}} <!-- <i class="mdi-navigation-more-vert right"></i> --></span>
                            <p>{{ work.resumo | limitTo: 150 }} {{ work.resumo.length > 150 ? '...' : ''}}</p>
                            <p class="activator"><a href="">{{work.autor}}, {{work.data | date:'yyyy'}}</a></p>
                            <p class="activator"><span class="badge amber darken-4 white-text activator">{{work.area}}</span></p>
                            <p class="activator">
                                <strong>Avaliado como:</strong>
                                <button class="fa activator" ng-class="(i <= work.media)? 'fa-star' : 'fa-star-o'" ng-repeat="i in [1,2,3,4,5]"></button>
                            </p>
                            <p class="activator" ng-show="work.avaliacao && work.avaliacao > 0">
                                Você avaliou esta obra em {{ work.avaliacao }} estrela{{ (work.avaliacao <= 1)? '' : 's' }}
                            </p>
                            <a class="btn-floating btn-large waves-effect waves-light" ng-class="{ 'light-blue darken-1' : (work.file), grey : (!work.file) }" title="{{ (!work.file)? 'Não disponível' : 'Baixar' }}" ng-click="open(work.file)"><i class="material-icons fa fa-download"></i></a>
                            <a class="btn-floating btn-large waves-effect waves-light green" title="Editar" ng-click="view(work.id, 'edit')"><i class="material-icons fa fa-edit"></i></a>
                            <a class="btn-floating btn-large waves-effect waves-light red darken-4" title="Deletar" ng-click="remove(work, $index)"><i class="material-icons fa fa-trash"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large blue darken-1" title="Cadastrar uma nova obra" href="#/obra/cadastrar"><i class="material-icons fa fa-plus"></i></a>
</div>