<!--Work-->
<div class="section scrollspy" id="work">
    <div class="panel-body">
        <header class="fixing header amber darken-1 z-depth-1">
            <div class="container">
                <h1 class="text-w"><i class="material-icons fa fa-book"></i> Recomendadas para você</h1>
            </div>
        </header>
        <div class="container">
            <div class="row" ng-controller="WorkToolsCtrl">
                <div class="col s12 14" ng-class="getGrid($index)" ng-repeat="work in works | orderBy:'-media' track by $index">
                    <div class="card">
                        <div class="card-content activator" ng-click="view(work.id)">
                            <span class="card-title activator grey-text text-darken-4">{{work.titulo}} </span>
                            <p class="capitalize">{{ work.resumo | limitTo: 150 }} {{ work.resumo.length > 150 ? '...' : ''}}</p>
                            <p class="activator capitalize"><a href="">{{work.autor}}, {{work.data | date:'yyyy'}}</a></p>
                            <p class="activator"><span class="badge amber darken-4 white-text activator">{{work.area}}</span></p>
                            <p class="activator">
                                <strong>Avaliado como:</strong>
                                <button class="fa activator" ng-class="(i <= work.media)? 'fa-star' : 'fa-star-o'" ng-repeat="i in [1,2,3,4,5]"></button>
                            </p>
                            <p class="activator" ng-show="work.avaliacao && work.avaliacao > 0">
                                Você avaliou esta obra em {{ work.avaliacao }} estrela{{ (work.avaliacao <= 1)? '' : 's' }}
                            </p>
                            <a class="btn-floating btn-large waves-effect waves-light" ng-class="{ 'light-blue darken-1' : (work.file), grey : (!work.file) }" title="{{ (!work.file)? 'Não disponível' : 'Baixar' }}" ng-click="open(work.file)"><i class="material-icons fa fa-download"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red" title="Meus acervos">
      <i class="large material-icons fa fa-folder-open"></i>
    </a>
    <ul>
      <li><a class="btn-floating green" title="Minha lista de acervos" href="#/obra/listar"><i class="material-icons fa fa-navicon"></i></a></li>
      <li><a class="btn-floating blue darken-1" title="Cadastrar uma nova obra" href="#/obra/cadastrar"><i class="material-icons fa fa-plus"></i></a></li>
    </ul>
  </div>
</div>