<!--Work-->
<div class="section scrollspy" id="work">
    <header class="fixing header darken-1 z-depth-1" ng-class="{ red : !hasWork(work), blue : hasWork(work) }">
		        <div class="container">
                    <h1 class="text-w" ng-show="hasWork(work)"><i class="material-icons fa fa-book"></i> {{ work.titulo }}</h1>
                    <h1 class="text-w" ng-show="!hasWork(work)"><i class="material-icons fa fa-warning"></i> Ocorreu um problema no carregamento</h1>
                 </div>
	</header>
    <div class="container">
        <div class="row">
            <div class="col s12 14" ng-class="getGrid($index)">
                <div class="card" ng-show="hasWork(work)">
                    <div class="card-content activator" ng-init="work.avaliacao = (!work.avaliacao)? 0 : work.avaliacao">
                        <p><strong>Resumo</strong></p>
                        <p>{{ work.resumo | capitalize }}</p>
                        <p class="activator"><a href="">{{work.autor | capitalize }}, {{work.data | date:'yyyy'}}</a></p>
                        <p class="activator"><span class="badge amber darken-4 white-text activator">{{work.area}}</span></p>
                        <div class="activator"><strong>Tipo:</strong> <span class="capitalize">{{ work.obratipo }}</span></div>
                        <div class="activator"><strong>Instituição:</strong> <span class="capitalize">{{ work.instituicao }}</span></div>
                        <div class="activator"><strong>Palavras-chaves:</strong> <span class="capitalize">{{ keywords }}</span></div>
                        <p class="activator average">
                                <strong>Avaliado como:</strong>
                                <button class="fa activator" ng-class="(i <= work.media)? 'fa-star' : 'fa-star-o'" ng-repeat="i in [1,2,3,4,5]"></button>
                        </p>
                        <p ng-show="work.avaliacao > 0 || work.submited">Você avaliou esta obra em {{ work.avaliacao }} estrela{{ (work.avaliacao <= 1)? '' : 's' }}</p>
                        <hr ng-show="!work.avaliacao || work.avaliacao <= 0"/>
                        <div class="activator">
                            <div ng-show="!work.avaliacao || work.avaliacao <= 0">
                                <p class="obs"><span class="c-red">*</span> Clique sobre as estrelas e deixe sua avaliação</p>
                                <button class="fa" ng-class="(i <= work.preavaliacao)? 'fa-star' : 'fa-star-o'" ng-repeat="i in [1,2,3,4,5]" ng-click="rating(work, $index)"></button>
                                <button class="btn waves-effect waves-light red darken-1 submit-rating" ng-show="work.isSubmiting" ng-click="submitRating(work)">
                                    <i class="mdi-content-send white-text"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row m16 p10" ng-controller="WorkToolsCtrl">
                            <a class="btn-floating btn-large waves-effect waves-light" ng-class="{ 'light-blue darken-1' : (work.path), grey : (!work.path) }" title="{{ (!work.path)? 'Não disponível' : 'Baixar' }}" ng-click="open(work.path)"><i class="material-icons fa fa-download"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card" ng-show="!hasWork(work)" style="min-height: 500px">

                </div>
            </div>
        </div>
    </div>
</div>