<div role="tabpanel" class="panel tab-pane active" id="home">
 		<div class="row">
		  <div class="col-sm-6 col-md-12">
		    <div class="thumbnail row">
		      <div class="image col-sm-2"><img id="foto-perfil" src="images/perfil.gif" /></div>
		      <div class="caption col-sm-9">
		        <h3>Thiago Marques Rocha</h3>
		        <p class="tags-perfil">
		        	<span>Tags:</span> <a href="#/perfil" class="label label-info inline">Computação</a> <a href="#/perfil" class="label label-info inline">Inteligência Artificial</a>
		        </p>
		        <p>
		        	<strong>Sobre mim:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit, ante et ullamcorper fringilla, risus massa consectetur odio, id vestibulum sapien libero eu ex. Aliquam blandit feugiat pellentesque. Etiam euismod pharetra ipsum, et laoreet augue.
		        </p>
		      </div>
		    </div>
		  </div>

		  <div class="col-sm-3">
		    <h2 class="title2 col-md-12"><span class="fa fa-graduation-cap"></span> Dados</h2>
		    <ul class="list-group" id="perfil-itens">
		    	<li>
					<a href="#/perfil" class="list-group-item row">
						<div class="col-md-1">
							<span class="badge inline">+</span> 
						</div>
						<p class="col-md-7 title">Adicionar foto</p>
					</a>
				</li>
				<li>
					<a href="#/perfil" class="list-group-item row">
						<div class="col-md-1">
							<span class="badge inline">+</span> 
						</div>
						<p class="col-md-7 title">Adicionar interesses</p>
					</a>
				</li>
				<li>
					<a href="#/perfil" class="list-group-item row">
						<div class="col-md-1">
							<span class="badge inline">+</span> 
						</div>
						<p class="col-md-7 title">Adicionar instituição</p>
					</a>
				</li>
				<li>
					<a href="#/perfil" class="list-group-item row">
						<div class="col-md-1">
							<span class="badge inline">+</span> 
						</div>
						<p class="col-md-7 title">Adicionar publicações</p>
					</a>
				</li>
		    </ul>
		  </div>
		</div>
</div>